.div{
    background-color: #c8d2f7;
    color: #333533;
}
.main {
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Center items horizontally */
    min-height: 100vh; /* Ensure the main container takes up the full viewport height */
    position: relative; 
}
.list{
        list-style: none;
        width: 100%;
        overflow: scroll;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        justify-content: center;
        align-content: start;
}

.list::-webkit-scrollbar {
    width: 0; 
}
.btn{
    padding: 0.7rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #788bff;
    color: #ffeedd;
}
.sorting {
    margin-top: auto; /* Push sorting container to the bottom */
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure the sorting container spans the full width */
    position: sticky; /* Keep the sorting container sticky at the bottom */
    bottom: 0; /* Stick the sorting container to the bottom */
    margin-bottom: 1rem; /* Ensure the sorting container is visible */
    z-index: 1; /* Ensure the sorting container is above other content */
}